.nav{
    display: flex;
    align-items: center;
    background-color: #191C24;
    justify-content: space-around; 
    flex-direction: row;
    height: 80px;
}
a{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    width: 80px;
    height: 80px;
}
a:hover{
    color: #EB1616;
    border-bottom: 2px solid #EB1616ed;
}
.active{
    border-bottom: 2px solid #EB1616ed;
    color: #EB1616;
}
.btn{
    color:black;
    width: 80px;
}
.bg{
    background-color: #191C24;
}
img{
    display: grid;
    padding: 0;
    margin: 0;
}
