<div class='body'>
    <h1 class='container'>Other Branches</h1>
    <div class='slider'>
        <div class='slide-track'>
            <div class='slide'>
                <img [src]="logoEnis" alt="" width="200">
            </div>
            <div class='slide'>
                <img [src]="logoEsprit" alt="" width="200">
            </div>
            <div class='slide'>
                <img [src]="logoFss" alt="" width="200">
            </div>
            <div class='slide'>
                <img [src]="logoInsat" alt="" width="200">
            </div>
            <div class='slide'>
                <img [src]="logoIsi" alt="" width="200">
            </div>
            <div class='slide'>
                <img [src]="logoIsitCom" alt="" width="200">
            </div>
            <div class='slide'>
                <img [src]="logoNabeul" alt="" width="200">
            </div>
            <div class='slide'>
                <img [src]="logoSmu" alt="" width="200">
            </div>
            <div class='slide'>
                <img [src]="logoTekup" alt="" width="200">
            </div>
            <!-- doubled -->
            <div class='slide'>
                <img [src]="logoEnis" alt="" width="200">
            </div>
            <div class='slide'>
                <img [src]="logoEsprit" alt="" width="200">
            </div>
            <div class='slide'>
                <img [src]="logoFss" alt="" width="200">
            </div>
            <div class='slide'>
                <img [src]="logoInsat" alt="" width="200">
            </div>
            <div class='slide'>
                <img [src]="logoIsi" alt="" width="200">
            </div>
            <div class='slide'>
                <img [src]="logoIsitCom" alt="" width="200">
            </div>
            <div class='slide'>
                <img [src]="logoNabeul" alt="" width="200">
            </div>
            <div class='slide'>
                <img [src]="logoSmu" alt="" width="200">
            </div>
            <div class='slide'>
                <img [src]="logoTekup" alt="" width="200">
            </div>
        </div>
    </div>
</div>

