<div class='bg'>
  <h1>
    <span>Welcome To </span><br />
    - Securinets Iset Charguia Club -
  </h1>
  <button type="button" class="btn btn-danger" (click)="navigateTo()">
    Our Work
  </button>
</div>
<div class='container'>
  <div class='row division'>
    <div class='col-4 box'>
      <h1 class="intro">Introduction</h1>
      <p>
        Welcome to Securinets IsetCh, your gateway to the world of cybersecurity
        at Iset Charguia. Established in 2021, our club is a hub for
        cybersecurity enthusiasts,workshops,
        collaborative projects, and captivating Capture The Flag (CTF)
        challenges. Founded in 2003, Securinets stands as the largest
        cybersecurity association and community in Tunisia, boasting a
        professional technical team providing extensive annual training. Our
        strength lies in our diverse structure, which comprises three integral
        departments: Technical, Media, and Human Resources (RH). Each department
        plays a vital role in our community, contributing to a well-rounded and
        dynamic experience. 
      </p>
    </div>
    <div class='col-8 imgk'>
      <div class='imgndbl imgdbl'>
        <img [src]="intro1" class='pic2' />
      </div>
      <div class='imgdbl'>
        <img [src]="intro3" class='pic2' />
      </div>
    </div>
  </div>
</div>
